@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./ext/map.css";

@layer base {
    @font-face {
        font-family: SourceHanSans;
        src: url(./fonts/SourceHanSansCN-VF.ttf.woff2);
    }
    @font-face {
        font-family: SourceSans;
        src: url(./fonts/SourceSans3VF-Roman.otf.woff), url(./fonts/SourceSans3VF-Italics.otf.woff);
    }
}

.wrapper {
    /* 窗口容器 */
    @apply min-h-screen min-w-full flex;
}

.sidebar {
    /* 侧边栏容器 */
    @apply w-1/6 sm:w-24 min-h-screen bg-white flex flex-col items-center shadow-md;
}

.content-wrapper {
    /* 右侧内容区容器 */
    @apply p-4 flex-auto bg-gray-100;
}

.navhead {
    @apply flex-grow-0 mb-6 p-2 flex flex-col items-center;
    .iconimg {
        @apply w-16 flex-initial block rounded-md shadow-md;
    }
}

.xs-distext {
    /* 描述文本 size extra-small */
    @apply text-gray-500 text-xs font-source;
}

.sm-distext {
    @apply text-gray-500 text-sm font-source;
}

.md-headtext {
    /* 标题文本 size medium */
    @apply text-gray-500 text-base font-source font-bold;
}

.xl2-headtext {
    @apply text-gray-500 text-2xl font-source font-bold;
}

.func-container {
    /* 侧边栏按钮容器 */
    @apply flex-initial flex flex-col justify-center self-stretch;
}

.func-button {
    /* 侧边栏按钮 */
    @apply py-2 border-l-4 border-black border-opacity-0;
    &.active {
        /* 点击状态 */
        @apply border-opacity-50;
    }
}

.button-link {
    @apply p-2 flex flex-col items-center;
}
/* 注:应用于多个元素 ↑↓ */
.button-icon {
    @apply my-2 text-gray-500 filter drop-shadow-md;
}

.sidebar footer {
    @apply mt-4 self-stretch;
}

.hr35 {
    /* 分割线 长度3/5 */
    @apply mx-auto w-3/5 border-black border-opacity-10;
}

.content-nav {
    /* 内容区导航栏 */
    @apply ml-2 flex flex-row justify-between items-center;

    .searchbar {
        @apply bg-gray-200 rounded-md overflow-hidden;
    }

    .grouped-buttons {
        @apply h-8 flex flex-initial justify-around items-center;

        li {
            @apply p-2 md:px-4;

            a {
                @apply block;
            }
        }
    }
}

#search {
    @apply h-8 p-2 w-16 sm:w-auto focus:outline-none bg-transparent;
}

.cards-wrapper {
    /* 卡片自适应容器 */
    @apply flex flex-col;

    .inner-wrapper-1 {
        @apply flex-auto flex flex-col flex-wrap lg:flex-row;
    }

    .inner-wrapper-2 {
        @apply flex-auto flex flex-col flex-wrap md:flex-row;
    }
}

.card {
    /* 卡片 */
    @apply mx-2 mb-4 flex-auto bg-gray-200 rounded-md shadow-md;

    /* 卡片尺寸 */
    &.card-lg {
        @apply max-w-full;
        & .cardcontent {
            @apply h-64 lg:h-80;
        }
    }

    &.card-md {
        @apply max-w-full flex-grow-2;
        & .cardcontent {
            @apply h-64;
        }
    }

    &.card-sm {
        @apply max-w-full;
        & .cardcontent {
            @apply h-48;
        }
    }

    /* 卡片分区 */
    .cardhead {
        @apply  p-4 h-12 flex flex-initial justify-between items-center;
    }

    .cardbody {
        @apply w-full px-4 pb-4;
    }

    .cardcontent {
        @apply w-full rounded-md overflow-hidden;
    }
}

#foot {
    /* 页脚 */
    @apply p-2 flex justify-between items-end sm:items-center;

    p {
        @apply flex flex-wrap md:block;

        a {
            @apply m-1 block md:inline;
        }
        span {
            @apply hidden md:inline;
        }
    }
}